#jb-container {
  width: 100%;
  margin: 0px auto;
  padding: 20px;
  background-color: #bcbcbc;
}
#jb-header {
  border: 1px solid #77aaad;
}
#jb-content {
  width: 100%;
  float: left;
  border: 1px solid #bcbcbc;
}
  #jb-sidebar {
  width: 100%;
  float: right;
  border: 1px solid #bcbcbc;
}
#jb-footer {
  clear: both;
  background-color: #D8E6E7; 
}
